/* 默认值 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
dl,
ul,
li {
  list-style: none;
}
body {
  font-size: 12px;
  color: #fff;
  font-family: "Helvetica", "Microsoft YaHei";
  line-height: 1.5;
  font-weight: 100;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  background: url("bg.jpg") no-repeat fixed;
  background-size: cover;
}
a {
  color: #fff;
  text-decoration: none;
}
/* 基础 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.title1 {
  background: rgba(12, 24, 43, 0.3);
  font-size: 18px;
  padding-left: 20px;
  line-height: 52px;
}
/* 按钮 */
.btn-d {
  font-family: "San Francisco", "Microsoft YaHei";
  text-align: center;
  border: 1px solid #ff7108;
  line-height: 20px;
  outline: none;
  height: 21px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 1em;
}
.btn-1 {
  font-family: "San Francisco", "Microsoft YaHei";
  text-align: center;
  border: 1px solid #ff7108;
  line-height: 20px;
  outline: none;
  height: 21px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 1em;
  color: #fff;
  background: #ff7108;
}
.btn-2 {
  font-family: "San Francisco", "Microsoft YaHei";
  text-align: center;
  border: 1px solid #ff7108;
  line-height: 20px;
  outline: none;
  height: 21px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 1em;
  color: #ff7108;
  background: no-repeat;
}
.btn-1-big {
  font-family: "San Francisco", "Microsoft YaHei";
  text-align: center;
  border: 1px solid #ff7108;
  line-height: 20px;
  outline: none;
  height: 21px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 1em;
  color: #fff;
  background: #ff7108;
  height: 36px;
  border-radius: 18px;
  font-size: 18px;
  line-height: 34px;
}
.btn-block {
  display: block;
  margin: 0 auto;
}
/* 按钮模块 */
.btn-box {
  text-align: center;
  padding: 20px 0;
}
.store-btn-box {
  padding-top: 10px;
  padding-bottom: 0;
}
.store-btn-box a {
  width: 40%;
  margin: 0 4%;
  display: inline-block;
}
/* 分享按钮 活动文章 */
.share-block {
  width: 95%;
  display: block;
}
.share-inline {
  display: inline-block;
  width: 35%;
}
.registration {
  display: inline-block;
  width: 55% ;
  margin-right: 5%;
}
/* 头部 */
.header-fix {
  height: 36px;
  position: relative;
}
.header-fix .header-box {
  height: 36px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FF7308;
  color: #fff;
  z-index: 2;
}
.header-fix .header-box .title {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 36px;
  line-height: 36px;
  z-index: -1;
  font-size: 18px;
}
.header-fix .header-box .icon {
  height: 36px;
  vertical-align: middle;
}
.header-fix .header-box .back-box {
  font-size: 14px;
  line-height: 36px;
  margin-left: 10px;
}
.header-fix .header-box .list-box {
  font-size: 14px;
  line-height: 36px;
  margin-right: 10px;
}
/* 列表 */
.list1 {
  margin-bottom: 20px;
}
.list1 dt {
  line-height: 36px;
  font-size: 14px;
  padding-left: 10px;
}
.list1 .big-img {
  display: block;
}
.list1 .logo {
  height: 34px;
  vertical-align: middle;
  float: left;
  position: relative;
  z-index: 1;
}
.list1 .title {
  margin-top: -34px;
  line-height: 34px;
  font-size: 18px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.list2 .big-img {
  display: block;
  width: 100%;
}
.list2 .title {
  margin-top: -36px;
  line-height: 36px;
  font-size: 18px;
  padding: 0 20px;
}
.list2 .title .fr {
  position: relative;
  z-index: 1;
  top: 5px;
  height: 24px;
}
.list3 li {
  padding: 10px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  overflow: auto;
}
.list3 .big-img {
  float: left;
  width: 30%;
  padding: 0 10px;
  display: block;
}
.list3 .text {
  float: left;
  width: 70%;
  padding-right: 10px;
  line-height: 1.5;
}
.list3 .text strong {
  font-weight: normal;
  color: #Ff7108 ;
}
.list3 .text .title {
  font-size: 16px;
}
.list3 .text .address {
  font-size: 14px;
  margin-bottom: 5px;
}
.list3 .score {
  width: 100%;
}
.list3 .score div {
  float: left;
  width: 50%;
}
.list3 .score span {
  color: #ff7108 ;
}
.list4 {
  padding: 0 20px;
  background: rgba(5, 9, 15, 0.3);
}
.list4 li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  overflow: auto;
}
.list4 .user-photo-box {
  width: 20%;
  float: left;
  text-align: center;
  padding-left: 10px;
}
.list4 .user-photo-box img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px #fff;
  display: block;
  margin-bottom: 5px;
}
.list4 .text {
  width: 80%;
  float: left;
  padding-left: 20px;
  font-size: 11px;
}
.list4 .text time {
  font-size: 9px;
  display: block;
  text-align: right;
}
/* */
.banner .big-img {
  display: block;
}
.banner .logo {
  height: 34px;
  vertical-align: middle;
  float: left;
  position: relative;
  z-index: 1;
}
.banner .title {
  margin-top: -34px;
  line-height: 34px;
  font-size: 18px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* 详情列表 */
.pic-list {
  width: 100%;
  overflow-x: scroll;
}
.pic-list ul {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pic-list li {
  width: 25%;
  float: left;
  padding: 0 2px ;
}
.pic-list li img {
  width: 100%;
  display: block;
}
/* 门店详情 */
.store-info {
  background: rgba(16, 53, 107, 0.3);
}
.store-info .part1 {
  padding-bottom: 10px;
}
.store-info .info {
  padding: 20px;
}
.store-info .title {
  font-size: 18px;
}
.store-info .address {
  font-size: 10px;
}
.store-info .map {
  float: right;
  width: 90px;
}
.store-info .map img {
  height: 12px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.store-info .map strong {
  float: right;
}
.store-info .tel {
  float: right;
  width: 90px;
}
.store-info .tel img {
  height: 12px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.store-info .score-box {
  background: #dbdcdc;
  overflow: auto;
  color: #2e2e2e;
  line-height: 2;
  text-shadow: none;
  text-align: center;
  border-bottom: solid 2px #0d1217;
  border-top: solid 1px #0d1217;
}
.store-info .score-box div {
  float: left;
  width: 25%;
}
.store-info .score-box span {
  color: #ff7108 ;
}
.content-box {
  padding: 20px;
}
/* 文章页面 */
.content-page .top {
  box-shadow: 0 3px 3px #000000;
}
.content-page .top .title {
  font-size: 18px;
  margin-top: -36px;
  text-align: center;
}
.content-page .content-box2 {
  padding: 10px;
  font-size: 14px;
  background: rgba(16, 53, 107, 0.3);
}
.content-page .content-box2 p {
  margin-top: 10px;
  padding-bottom: 10px;
}
.content-page .content-box2 strong {
  font-weight: normal;
  color: #Ff7108;
}
.server {
  position: relative;
}
.server .server-list {
  font-size: 14px;
  padding: 10px 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.server .server-list ul {
  width: 560px;
}
.server .server-list li {
  width: 80px;
  text-align: center;
  float: left;
  padding: 0 3px;
}
.server .server-list li span {
  display: block;
  background: none;
  border: solid 1px #fff;
  height: 30px;
  line-height: 28px;
  padding: 0 1.5em;
  color: #fff;
  border-radius: 15px;
}
.server .server-list li.active span {
  background: #Ff7108 url("../img/icon-5.png") no-repeat right center;
  background-size: 28px 28px;
  padding-left: 1em;
  padding-right: 2em;
}
.server .c {
  width: 50px;
  height: 50px;
  top: 0;
  display: none;
}
.server .c img {
  height: 20px;
  margin-top: 15px;
}
.server .l {
  background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  text-align: left;
  padding-left: 10px;
}
.server .r {
  background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 10px;
}
.server form textarea {
  font-family: "San Francisco", "Microsoft YaHei";
  width: 100%;
  display: block;
  color: #fff;
  outline: none;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
  resize: none;
  min-height: 74px ;
  background: rgba(16, 53, 107, 0.3);
  border: none;
}
.server form .form-info {
  padding: 0 10px;
}
.server form .form-info div {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  height: 36px;
}
.server form .form-info label {
  float: left;
  height: 36px;
  overflow: hidden;
  padding: 2px 0;
  line-height: 32px;
  width:30%;
}
.server form .form-info label img {
  height: 28px;
  vertical-align: middle;
}
.server form .form-info input {
  margin-top: 4px;
  line-height: 32px;
  height: 32px;
  background: none;
  border: none;
  color: #Ff7108;
  text-align: right;
  float: right;
  outline: none;
  font-size: 14px;
  width:50%;
}
.server .btn-box {
  padding: 10px;
}
.server .btn-box .btn-1-big {
  width: 100%;
  display: block;
}
/* 预约成功 */
.booking-success .content-box2 {
  padding: 20px 30px;
  margin-bottom: 5%;
}
.booking-success .content-box2 p {
  padding-bottom: 0;
}
.booking-success .content-box2 p span {
  font-size: 16px;
}
.booking-success .content-box2 .imgbox {
  text-align: center;
}
.booking-success .content-box2 .imgbox img {
  width: 30%;
}
@media (min-width: 375px) {
  .server form textarea {
    min-height: 96px;
  }
}
.share-box-warp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0 ;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.share-box-warp .share-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #Ff7108;
  text-shadow: none;
}
.share-box-warp .channel-list {
  background: #f5f5f5;
  border-bottom: 1px #ccc solid;
  overflow: auto;
  padding: 10px 0;
}
.share-box-warp .channel-list li {
  width: 33.333%;
  float: left;
}
.share-box-warp .channel-list li a {
  color: #Ff7108;
}
.share-box-warp .channel-list li img {
  display: block;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.share-box-warp .cls {
  background: #f5f5f5;
  line-height: 2.5;
  font-size: 14px;
}
